<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на наш сайт!</h1>
        <nav>
            <ul>
                <li><a href="../pages/index.html">Главная</a></li>
                <li><a href="../pages/about.html">О нас</a></li>
                <li><a href="../pages/contact.html">Контакты</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>